{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>TOKO AHM</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="{% static 'assets/images/birny logo.png' %}" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth">
        <div class="row flex-grow">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left p-5">
              <div class="brand-logo">
                <img src="{% static 'assets/images/birny logo.png' %}">
                <img src="{% static 'assets/images/Drink.png' %}">

              </div>
              <h4>Halo! mari kita mulai</h4>
              <h6 class="font-weight-light">Masuk untuk melanjutkan.</h6>
              {% for message in messages %}
              <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endfor %}
            </div>
            <h6 class="font-weight-light"></h6>
            <form class="pt-3" action="{% url 'loginn' %}" method="post">
              {% csrf_token %}
              <div class="form-group">
                <input type="name" class="form-control form-control-lg" name="username" id="exampleInputEmail1"
                  placeholder="Username" required>
              </div>
              <div class="form-group">
                <input type="password" class="form-control form-control-lg" name="password" id="exampleInputPassword1"
                  placeholder="Password" required>
              </div>
              <div class="button-submit-daftar">
                <button type="submit" class="btn btn-primary">Masuk</button>
              </div>
              <div class="text-center mt-4 font-weight-light"> tidak punya akun? <a href="/register/"
                  class="text-primary">Buat</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
  <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{% static '/assets/vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static '/assets/js/off-canvas.js' %}"></script>
  <script src="{% static '/assets/js/hoverable-collapse.js' %}"></script>
  <script src="{% static '/assets/js/misc.js' %}"></script>
  <!-- endinject -->
</body>

</html>