{% extends 'base.html' %}

{% block content %}

<h1 class="h3 mb-2 text-gray-800">Tambah Pembelian</h1>

<div class="card shadow mb-4">
    <div class="card-body">
        <form method="POST" action="{% url 'tambah_pembelian' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Tambah Pembelian</button>
            <a href="{% url 'pembelian' %}" class="btn btn-secondary">Kembali</a>
        </form>
    </div>
</div>

{% endblock %}
