{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Tambah Kategori:</h3>
            {% if pesan %}
            <div class="alert alert-success">
                {{ pesan }}
            </div>
            {% endif %}
            <form action="{% url 'tambah_kategori' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-danger">Tambah Kategori</button>
                <a href="{% url 'kategori' %}" class="btn btn-primary">Kembali</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
